
.nyhetsContainer{
    display: flex;
    padding: 10px;
    height: 100%;
    width: 70%;
    background-color: white;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px auto auto auto;
}


@media only screen and (max-width: 850px){
    .nyhetsContainer{
        width: 80%;
        padding: 0;
    }
}

